html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lavender;
}
body{
    margin: 2rem;
}
h1{
    font-weight: bold;
    color:purple;
}
img{
    border-radius: 10px;
}
h2{
    color:purple
}
/* To code the main nav items in div, added class="nav-div"*/
.nav-div {
    width: 175px;
}
a {
    display:block;
    background-color: #d3e58c;
    color: #000;
    text-decoration:none;
    padding: 5px;
    margin-bottom:5px; 
    border-radius: 10px; 
}
/*this p styling added a margin around paragraphs*/
p {
  word-wrap: break-word;  
  line-height: 1.25;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
ul{
    list-style-type: square;
}
.good_book_list {
    line-height: 1.5;
}
table, th, td {
    border: 1px solid;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 25%;
    border-radius: 15px;
}
td{
    text-align: center;
}
#p_review {
    color:blue
}